.column {
  float: left;
  background-color:  lightskyblue;
  width: 280px;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color:  #444c63;
}

.all{
  margin-top: 20%;
  margin-left: 20%;
}

input{
margin: 15px;
}

button  {
  position: relative;
  display: inline-block;
  background: lightskyblue;
  border: none;
}

.nextbutton{
  margin-left: 10px;
  margin-right: 180px;
}

.buttons {
  margin-top: 327px;
}

.list-text{
  margin-left: 10px;
  font-family: OpenSans;
  color:  black;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  display: inline-block;
}

.tabse-search-list{
  border:none !important;
  border-collapse: collapse;
}
